@media screen and (max-width:479px) {

  /* 画面サイズがiPhonサイズ（480px)以下の場合に適用 */
  #index {
    font-size: 3.5vw;
  }

  h1 {
    font-size: 7.2vw;
  }

  h2 {
    font-size: 6vw;
  }

  header {
    width: auto;
  }

  header h1 {
    padding-bottom: 15px;
  }

  header h1 span {
    font-size: 10vw;
    margin: 0 35px;
  }

  .global-nav .sp-menu {
    width: auto;
    margin: 0 auto;
    display: block;
    background-color: transparent;
    border: none;
  }

  .global-nav .sp-menu span {
    background-color: black;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 10px;
  }

  .global-nav .sp-menu span:last-child {
    margin-bottom: 0;
  }

  .global-nav ul li {
    font-size: 1.5em;
    display: block;
    margin-bottom: 10px;
  }

  .global-nav ul li:last-child {
    margin-bottom: 0;
  }

  .global-nav ul li a {
    letter-spacing: 5px;
  }

  .global-nav ul {
    height: 100vw;
    margin-top: 30px;
  }

  .global-nav .invisible {
    display: none;
  }

  #wrap {
    width: 100vw;
  }

  #wrap .content .site-left .content-list {
    float: none;
    width: 100%;
  }

  #wrap .content .site-left .content-list li {
    float: none;
    margin: 15px auto;
  }

  .sidebar {
    width: auto;
  }

  .sidebar .sidebar-top {
    width: 100vw;
    height: 520px;
    float: none;
  }

  .sidebar .profile .follow-me ul .icon {
    font-size: 18vw;
    margin: 0 2vw;
  }

  .sidebar .profile .follow-me p {
    font-size: 1.5em;
    margin-bottom: 2vw;
  }

  .sidebar .recent-post {
    display: none;
  }

  .clearfix::after {
    display: none;
  }

  footer {
    margin: 0;
  }

  footer .content .logo-content {
    display: none;
  }

  footer .content .footer-menu {
    float: none;
  }

  footer .content .footer-menu .sections {
    width: 100vw;
    float: none;
    left: 50%;
  }

  footer .content .footer-menu .sections section {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    display: block;
  }
}
